@-webkit-keyframes showimg {
  from {
    width: 10px;
  }
  to {
    width: 470px;
  }
}

@keyframes showimg {
  from {
    width: 10px;
  }
  to {
    width: 470px;
  }
}

.nav-header {
  margin: 0 100px;
  padding: 10px 0 0 0;
}

.list {
  margin-right: 10px;
}

.list li {
  padding: 0 10px;
}

.brand {
  font-size: 150px;
  color: white;
}

.banner {
  height: 675px;
  background: radial-gradient(50% 50% at 50% 50%, #012f41 0%, #03101b 100%);
}

.text {
  padding: 0 0 0 100px;
}

.slogan-text {
  color: white;
  padding: 0 0 0 100;
}

.usecase {
  margin: 0 100px 0 100px;
}

.usecase .usecase-l {
  padding: 0 0 0 100px;
  width: 75%;
  background-color: #f6f4ec;
  color: #444444;
  border-radius: 30px 0 0 30px;
  padding: 25px 30px;
}

.usecase .usecase-r {
  background-color: #d9c377;
  border-radius: 0 30px 30px 0;
  padding: 25px 30px;
  width: 25%;
  color: white;
}

main {
  background-image: url(img/the-rest/body-content1-img.png);
  background-repeat: no-repeat;
}

main .ecommerce .ecommerce_box {
  padding: 70px;
}

main .ecommerce .ecommerce_box .e-img {
  width: 40%;
}

main .ecommerce .ecommerce_box .e-img .fadein {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: "showimg";
          animation-name: "showimg";
}

main .advert {
  background-color: #f6f4ec;
}

main .advert .ad-1 {
  padding: 50px 20px 50px 50px;
}

main .gaming {
  background-color: #d9f7d3;
}

main .token {
  background-image: url(img/the-rest/token-bg.png);
  height: 100vh;
}

main .token .tokencon {
  padding: 70px 10px;
}

main .token .tokencon .token-box {
  position: absolute;
  background: #ebd79d;
}

main .token .tokencon .token-2 {
  background-image: url(img/icon/Group29.png);
  background-repeat: no-repeat;
  background-position: center;
}

main .token .tokencon .box_1 {
  top: -80px;
  right: 0px;
  width: 228px;
  padding: 13px 12px;
  border-radius: 6px 6px 6px 0px;
}

main .token .tokencon .box_2 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  bottom: -50px;
  left: 29px;
  width: 177px;
  padding: 13px 12px;
  border-radius: 6px 0px 6px 6px;
}

main .token .tokencon .box_3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  bottom: 7px;
  right: 5px;
  width: 177px;
  padding: 13px 12px;
  border-radius: 0px 6px 6px 6px;
}

.casino1 {
  background-image: url(img/the-rest/decentrialized-left-1.png);
}

.text2 {
  color: #444;
  background-color: #f6f4ec;
  padding: 20px;
}

.icon {
  margin-right: 30px;
  width: 70px;
  height: 70px;
  padding: 15px 15px;
  background: #012f41;
  border-radius: 30px;
}

p {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 19px;
  color: #444;
}

.partner{
  background-color: #f9f9f9;
}
.partner1{
  max-width: 270px;
}
.partner1:hover{
  -webkit-box-shadow: 0px 0px 8px 2px rgb(151 150 150 / 58%);
  box-shadow: 0px 0px 8px 2px rgb(151 150 150 / 58%);
  cursor: pointer;
  transition: 0.5s;
}

.hovershadow:hover{
  -webkit-box-shadow: 0px 0px 8px 2px rgb(151 150 150 / 58%);
  box-shadow: 0px 0px 8px 2px rgb(151 150 150 / 58%);
  cursor: pointer;
  transition: 0.5s;
}
.button1{
  position: relative;
    cursor: pointer;
    border: none;
    background-color: #d9c377;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    color: #04111c;
    width: 200px;
    padding: 12px 30px;
    height: 43px;
    border: 1px solid transparent;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
}
.button2{
  cursor: pointer;
  border: none;
  background-color: #d8d8d8;
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  color: #04111c;
  width: 200px;
  padding: 12px 30px;
  height: 43px;
  border: 1px solid transparent;

}
/* .text1{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    line-height: 19px;
    color: #444;
} */
.cart-img-top{
  width: 100%;
}
.contact-us{
  background-color: #d9c377;
}
.button1:hover{
  /* -webkit-box-shadow: 0px 0px 15px 3px rgb(151 150 150 / 58%); */
  box-shadow: 0px 0px 15px 3px rgb(151 150 150 / 58%);
}

.contact-us{
  height: 170px;
}
footer{
  background-image: -webkit-gradient( linear, left top, right top, from(#012f41), to(#03101b) );
  background-image: linear-gradient(90deg, #012f41, #03101b);
}
.buttom-content{
  height: 60px;

}
/*# sourceMappingURL=style.css.map */